body {
  background-color: #f9f9f9;
}

/* H1 styles (Title) */
h1 {
  background-color: #27603c;
  padding: 5px 10px;
  margin: -8px;
  font-size: 32px;
  font-family: Verdana;
  color: #ffffff;
  width: 100%;
}

/* NAV BAR STYLES THAT ACTUALLY DAMN WORK */
.navbar > ul {
  background-color: #ffffff;
  width: 101%;
  padding: 5px;
  margin-top: 8px;
  margin-left: -8px;
  margin-right: -3px;
  height: 49px;
}

.navbar > ul > li {
  list-style-type: none;
  font-family: sans-serif;
  font-size: 24px;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  width: 125px;
  vertical-align: middle;
}

.navbar > ul > li > strong{
  width: 125px;
}

.navbar > ul > li > strong:hover {
  background-color: #f9f9f9;
  border: solid 1px darkgray;
  box-shadow: 5px 10px 18px #888888;
}

.navbar > ul > #logo {
  float: right;
  padding-right: 20px;
  vertical-align: middle;
}

ul.dropdowns {
  position: absolute;
  list-style-type: none;
  background-color: #f9f9f9;
  border: solid 1px darkgray;
  box-shadow: 5px 10px 18px #888888;
  padding: 0px;
  width: 153px;
  margin-left: -16px;
  padding-top: 2px;
  padding-left: 2px;
  opacity: 0;
  text-align: left;
  align-items: center;
  z-index: 100;
}

ul.dropdowns li {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
}

ul.dropdowns li:hover{
  opacity: 1;
}

.navbar li:hover .dropdowns {
  opacity: 1;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* MAIN BODY STYLES (<H3>, <P>, <IMG> STYLES) */
img {
  margin-left: 15px;
}

.text {
  float: left;
}

th {
  text-align: left;
  font-family: Helvetica;
  font-size: 24px;
}

td {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
}

.text {
  text-align: top;
}

#main-content {
  background-color: #ffffff;
  padding: 1px 5px;
  margin-left, margin-right: 15px;
  margin-top: -20px;
  display: flow-root;
  list-style-type: none;
}

td {
  text-align: left;
}

td > .okayimage {
  border: solid 1px darkgray;
  width: 300px;
}

.invisible {
  opacity: 0;
}